<div class="container mt-5">
<%= simple_form_for (@christmastree) do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :height %>
  <%= f.input :description %>
  <%= f.input :price, label: 'Price per day in €' %>
  <%= f.input :plant_type, :collection => ['Balsam Fir','Fraser Fir','Canaan Fir','Douglas Fir','Grand Fir', 'Noble Fir', 'Concolor Fir', 'White Pine', 'Scotch Pine', 'Virginia Pine', 'Blue Spruce', 'Norway Spruce', 'White Spruce', 'Arizona Cypress', 'Leyland Cypress', 'Red Cedar'] %>
  <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  <%= f.submit 'Edit tree', class: "btn btn-success"%>
<% end %>
</div>
