<div class="container mt-5">

  <h3 Christmas trees available></h3>
    <div class="container">
      <div class="row justify-content-center" data-controller="map">
        <div class="col-6">
          <form class="d-flex my-5" id="form" data-action="submit->map#search">
            <input type="text" id="address" class="form-control flex-grow-1 me-2" placeholder="Type an address" data-map-target="form">
            <input type="submit" value="Search!" class="btn btn-success" >
          </form>
        </div>
      </div>
    </div>
<br>

    <div style="width: 100%; height: 600px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>

       <% @christmastrees.each do |tree| %>
         <div class="d-inline-flex p-2 m-5">
          <div class="card" style="width: 18rem;">

            <%= link_to christmastree_path(tree) do %>
            <% if tree.photos.attached? %>
                <%= cl_image_tag tree.photos.first.key, crop: :fill, class: "card-img-top", alt: "Card image cap"  %>
            <% else %>
                <img class="card-img-top" src="https://images.costco-static.com/ImageDelivery/imageService?profileId=12026540&imageId=2006176-847__1&recipeName=350" alt="Card image cap">
            <% end %>
                <div class="card-body">
                  <p class="card-title"><%= tree.name %></p>
                  <div class="d-flex justify-content-between">
                    <p><%= tree.address %></p>
                    <p><%= tree.price %>€ per day</p>
                  </div>
                </div>
            <% end %>
          </div>
         </div>
        <% end %>
</div>
