<div class="container mt-5">
  <div class="tree-info">
    <div class="w-50">
      <h1><%= @christmastree.name %></h1>
      <% @christmastree.photos.each do |photo| %>
         <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
       <% end %>
     <p>Height: <%= @christmastree.height %></p>
     <p>Type: <%= @christmastree.plant_type %></p>
     <p>Owner: <%= @christmastree.user.username %></p>
        <hr>
     <p> "Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt veritatis rerum obcaecati. Aliquid id at, sit expedita magni dolores facere placeat perferendis! Totam ratione nulla ut quod vitae nisi alias. Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt veritatis rerum obcaecati. Aliquid id at, sit expedita magni dolores facere placeat perferendis! Totam ratione nulla ut quod vitae nisi alias. Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt veritatis rerum obcaecati. Aliquid id at, sit expedita magni dolores facere placeat perferendis! Totam ratione nulla ut quod vitae nisi alias." </p>
        <%#= link_to "Book this tree!", new_christmastree_booking_path(@christmastree) %>
    </div>
    <div>
       <%# <h3>BOOK THIS TREE</h3> %>
          <div class=" p-5 border rounded shadow-sm p-3 mb-5 bg-white rounded" style="background-color: #eee;">
           <%= simple_form_for [@christmastree, @booking] do |f| %>
           <%= f.input :start_date, as: :date, required: false, input_html: {class: "datepicker"} %>
           <%= f.input :end_date, as: :date, required: false, input_html: {class: "datepicker"} %>
          <%= f.submit 'Book', class: "btn btn-default btn-success" %>
          <%end%>
         </div>
    <div>
  </div>
  </div>
  </div>
  <hr>

  <h4><%= link_to "back to all trees", christmastrees_path, class: "btn btn-success" %> </h4>
</div>
