
<div class="container">
  <div class="container-listing">
  <br>



  <h4>Congratulations, for your booking request, nice choice! Now just wait for <%= @booking.christmastree.user.username %> to accept or decline your request, it shouldn't take too long!</h4>
  <h4><strong>Reminder of your request : </strong></h4>
  <h4><strong><%= @booking.christmastree.name %></strong> for <strong><%=(@booking.start_date..@booking.end_date).count %> days</strong>, starting <strong><%= @booking.start_date.strftime('%A %d %B') %></strong>, from <strong><%= @booking.christmastree.user.username %></strong>, at the price of <strong> €<%=(@booking.start_date..@booking.end_date).count * @booking.christmastree.price %>!</strong></h4>



  </div>
  <br>
   <h4><%= link_to "back to trees", christmastrees_path, class: "btn btn-success" %> </h4>
</div>
