
<div class="container">
  <div class="container-listing">
  <br>
  <h4>Congratulations, you just booked <strong><%= @booking.christmastree.name %></strong> from <%= @booking.christmastree.user.username %><strong> starting <%= @booking.start_date %> until <%= @booking.end_date %>!</h4><br>


  </div>
  <br>
   <h4><%= link_to "back to trees", christmastrees_path, class: "btn btn-success" %> </h4>
</div>
