<div class="container mt-5">
  <h2>Hi, <%= @user.username %>!</h2>
  <hr>
    <div class="container">
      <div class="row">

        <div class="col-sm">
          <h3>My trees</h3>
         <% @user.christmastrees.each do |tree| %>
              <div class="card mb-2" style="width: 18rem;">
                 <div class="card-body">
                 <h5 class="card-title"><%= tree.name %></h5>
<<<<<<< HEAD
                    <%= link_to "delete", christmastree_path(tree), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class:"btn btn-success"%>
                      <%= link_to "edit", edit_christmastree_path(tree), class:"btn btn-success"%>
=======
                    <%= link_to "Delete", christmastree_path(tree), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class:"btn btn-success"%>
>>>>>>> master
                 </div>
              </div>
              <% end %>
           </div>

        <div class="col-sm">
          <h3>My bookings</h3>
        <% @user.bookings.each do |booking| %>
          <div class="card mb-2" style="width: 18rem;">
             <div class="card-body">
               <h5 class="card-title"><%= booking.christmastree.name %></h5>
<<<<<<< HEAD
               <p class="card-text"> <%= booking.start_date.strftime('%A %d %B') %> to <%= booking.end_date.strftime('%A %d %B') %></p>
=======
               <p class="card-text"> <%= booking.start_date %> to <%= booking.end_date %></p>
               <% if booking.status == "declined" %>
               <p> Your booking has been rejected</p>
               <% elsif booking.approval == false %>
               <p> YYour booking is pending</p>
               <% else %>
               <p> Your booking has been approved!</p>
               <% end %>
>>>>>>> master
              <%= link_to "Delete", booking_path(booking), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class:"btn btn-success"%>
              </div>
            </div>
               <% end %>
          </div>

        <div class="col-sm">
          <h3>My booking requests</h3>
          <% @user.christmastrees.each do |tree| %>
          <% tree.bookings.each do |booking| %>
          <div class="card mb-2" style="width: 18rem;">
             <div class="card-body">
              <h5 class="card-title"><%= booking.user.username %> has booked your tree '<%= booking.christmastree.name %>'</h5>
<<<<<<< HEAD
              <p class="card-text"> <%= booking.start_date.strftime('%A %d %B') %> to <%= booking.end_date.strftime('%A %d %B') %></p>
=======
              <p class="card-text"> <%= booking.start_date %> to <%= booking.end_date %></p>
              <% if booking.status.nil? %>
                  <%= button_to "Accept", approve_booking_path(booking), method: :post %>
                  <%= button_to "Decline", decline_booking_path(booking), method: :post %>
                  <% elsif booking.status == "approved" %>
                  <p> You have approved <%= booking.user.username %> request</p>
                  <% elsif booking.status == "declined" %>
                    <p> You have declined <%= booking.user.username %> request</p>
                  <% end %>

>>>>>>> master
                  <%= link_to "Delete", booking_path(booking), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class:"btn btn-success"%>
            </div>
          </div>
          <% end %>
          <% end %>
        </div>
      </div>
    </div>
<hr>
  <%= link_to "back to christmas trees", christmastrees_path, class: "btn btn-success"%>
</div>
