<!DOCTYPE html>
<html>
  <head>
    <title>Airbntrees</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.js"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <style>
body {
  background-image: url("https://cdn.windowsreport.com/wp-content/uploads/2019/12/Christmas-886x590.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

</style>
  </head>

  <body>

    <% if params[:controller] != 'pages' && params[:action] != 'home' %>
      <%= render "shared/navbar" %>
    <% end %>
      <div class="wrapper">
    <%= render "shared/flashes" %>
    <%= yield %>
    <div>
      <% if params[:controller] != 'pages' && params[:action] != 'home' %>
        <%= render "shared/footer" %>
      <% end %>
    </div>
  </div>

  </body>

</html>
